<% include ../partials/head.ejs %>

<h1>SIGN UP</h1>
<div class="sign-up">
  <form action="/sign_up" method="post">
    <div class="field">
			<label>EMAIL</label>
      <input type="email" class="email" name="user[email]" />
    </div>
    
    <div class="field">
			<label>PASSWORD</label>
      <input type="password" class="password" name="user[password]" />
    </div>
    
		<ul class="right links">
			<li><a href="/sign_in">Sign in</a></li>
		</ul>
    <button type="submit" class="submit">Submit</button>
  </form>
</div>

<% include ../partials/footer.ejs %>