<div class="sign-in">
  <form action="/sign_in" method="post">
    <div class="field">
      <input type="email" class="email" name="user[email]" placeholder="Email" 
        />
    </div>
    
    <div class="field">
      <input type="password" class="password" name="user[password]"
        placeholder="password" />
    </div>
    
    <input type="submit" value="Sign up" />
  </form>
</div>
