	</div>
	
	<div id="nav">
		<a class="right" target="_blank" href="http://twitter.com/powerupio">Twitter</a>
		<a class="right" target="_blank" href="http://blog.powerup.io">Blog</a>
		<a href="/getting-started">Getting Started</a>
		<a href="/tos">TOS</a>
		<a href="/contact">Contact</a>
		<a href="/pricing">Pricing</a>
		<a href="/switchboard">Switchboard</a>
	</div>
</body>
</html>