	</div>
	
	<div id="nav">
		<a href="/getting-started">Getting Started</a>
		<a href="/">FAQ</a>
		<a href="/">Press</a>
		<a href="/">Blog</a>
		<a href="/contact">Contact</a>
	</div>
</body>
</html>