<form action="/start" method="post" id="new_grid">
  <div class="field">
		<label>GOAL</label>
    <input type="text" name="grid[name]" value="Lose 50 lbs" />
  </div>
  
  <div class="field">
		<label>WORK UNITS</label>
    <input type="text" name="workUnit" value="10 Push-Ups" class="small" />
		<input type="text" class="small" value="20 Sit-Ups" />
		<input type="text" class="small last" value="Run 10 Minutes" />
  </div>
  
  <% if (typeof currentUser === 'undefined') { %>
    <div class="field">
			<label>EMAIL</label>
      <input type="text" name="user[email]" />
    </div>

    <div class="field">
			<label>PASSWORD</label>
      <input type="password" name="user[password]" />
    </div>
  <% } %>
  
	<button type="submit" class="submit">Get Started</button>
</form>