<!DOCTYPE html>
<html>
<head>
	<% title = 'Achieve your goals with PowerUp' %>
  <title><%= title %></title>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/actions.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	
	<!-- Google Analytics -->
	<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38401321-1']);
    _gaq.push(['_setDomainName', 'joke.io']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
	<div id="header" class="hide">
		<a href="/" id="logo"></a>
	</div>
	<div id="page"></div>