<!DOCTYPE html>
<html>
<head>
	<% if(typeof(title) === 'undefined'){ %>
		<% title = 'Achieve your goals with PowerUp' %>
	<% } %>
	<title><%= title %></title>
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<% if(typeof(stylesheets) !== 'undefined'){ %>
		<% for(stylesheet in stylesheets){ %>
			<link rel="stylesheet" type="text/css" href="/css/<%= stylesheets[stylesheet] %>.css" />
		<% } %>
	<% } %>
	
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/jquery.easing.js"></script>
	<script type="text/javascript" src="/js/actions.js"></script>
	
	<% if(typeof(javascripts) !== 'undefined'){ %>
		<% for(javascript in javascripts){ %>
			<script type="text/javascript" src="/js/<%= javascripts[javascript] %>.js"></script>
		<% } %>
	<% } %>
	
	<!-- Google Analytics -->
	<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38401321-1']);
    _gaq.push(['_setDomainName', 'joke.io']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
	<div id="header">
		<a href="/" id="logo"></a>

		<div class="account">
			<% if (typeof currentUser === 'undefined') { %>
				<a href="/sign_in" class="login button">
				  <span class="icon"></span>LOGIN
				</a>
			<% }else{ %>
				<a href="/sign_in" class="login button">
				  <span class="icon"></span>ACCOUNT
				</a>
			<% } %>
		</div>
	</div>
	<div id="page">