<div>
	<ul class="tips">
		<h2>TIPS FROM OUR BLOG</h2>
		<li><a target="_blank" href="http://blog.powerup.io/post/55589361855/multiple-filters-little-league-baseball">Using Multiple Filters</a></li>
		<li><a target="_blank" href="http://blog.powerup.io/post/55092520515/self-tracking-for-authors">PowerUp for Authors</a></li>
		<li><a target="_blank" href="http://blog.powerup.io/post/55345825570/aggregate-powerup-data">Aggregate PowerUp Data</a></li>
	</ul>
</div>