body {
  background:url('/img/maui.jpg') no-repeat center top;
  background:url('/img/bg_4.png');
  background:url('/img/bg_3.jpg') no-repeat center top;
  background:url('/img/country-road.jpg') no-repeat center top;
  background-size: 100% auto;
  background-size:auto;
  background-size: cover;
}

#content {
  position:absolute;
  top:95px;
  right:20px;
  width:500px;
  height:500px;
  background:rgba(0,0,0,.25);
  overflow:hidden;
}

#content .heading {
  padding:20px;
  background:rgba(0,0,0,.25);
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  color:#fff;
  text-shadow:-1px -1px 0 rgba(0,0,0,.7);
}

#content .progress {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  text-align:center;
  font-size:200px;
  color:#fff;
  text-shadow:-1px -1px 0 rgba(0,0,0,.7);
  width:100%;
  position:absolute;
  left:0;
  top:50%;
  margin-top:-50px;
}

#content .heading h1 {
  font-size:50px;
  padding-bottom:5px;
}

#content .heading .author {
  font-size:25px;
  float:right;
}

#content .legend {
  position:relative;
  z-index:100;
}

#content .share {
  position:absolute;
  right:20px;
  bottom:20px;
}

#content .share img {
  margin-left:10px;
  width:55px;
  height:55px;
}

#content .legend button {
  float:left;
  padding:16px 0 20px 0;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  text-transform:uppercase;
  font-size:15px;
  letter-spacing:1px;
  line-height:1;
  margin:0;
}

#content .legend button.powerup {
  cursor: pointer;
}

#content .legend button span {
  display:inline-block;
}

#content .legend button .plus {
  width:18px;
  height:18px;
  margin-right:5px;
  background:url('/img/sprites.png') -30px -20px;
  position:relative;
  bottom:-4px;
}

#content .legend .none {
  background:rgba(0,0,0,.15);
}

#content .legend .black {
  background:rgba(0,0,0,.75);
}
#content .legend .black:hover {
  background:rgba(0,0,0,1);
}

#content .legend .red {
  background:rgba(111,11,11,.75);
}
#content .legend .red:hover {
  background:rgba(111,11,11,1);
}

#content .legend .blue {
  background:rgba(22,76,124,.75);
}
#content .legend .blue:hover {
  background:rgba(22,76,124,1);
}

#content .legend .green {
  background:rgba(0,45,0,.75);
}
#content .legend .green:hover {
  background:rgba(0,45,0,1);
}

#content .legend .label {
  font-size:13px;
  font-weight:bold;
  padding-top:3px;
}


#grid {
  position:absolute;
  left:20px;
  top:95px;
}

#grid .percent {
  width:100%;
  text-align:center;
  position:absolute;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  text-transform: uppercase;
  font-size:200px;
  left:0;
  top:50%;
  margin-top:-100px;
  color:rgba(255,255,255,.25);
  z-index:1;
}

#grid li {
  position:relative;
  z-index:2;
}

#grid.small li {
  width:20%;
  height:20%;
  float:left;
}

#grid.medium li {
  width:10%;
  height:10%;
  float:left;
}

#grid.large li {
  width:5%;
  height:5%;
  float:left;
}

#grid li div {
  width:90%;
  height:90%;
  margin:5%;
  background:rgba(0,0,0,.15);
  -webkit-transition:all linear 400ms;
  -webkit-transform: rotateY(360deg);
  -moz-transition:all linear 400ms;
  -moz-transform: rotateY(360deg);
  transition:all linear 400ms;
  transform: rotateY(360deg);
}

#grid li.active div {
  background:rgba(0,0,0,.75);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#grid li.red div {
  background:rgba(111,11,11,.75);
}

#grid li.blue div {
  background:rgba(22,76,124,.75);
}

#grid li.green div {
  background:rgba(0,45,0,.75);
}

#milestone {
  width:400px;
  height:200px;
  position:absolute;
  background:rgba(0,0,0,.5);
  top:100%;
  z-index:9000;
}

#milestone h1 {
  text-align:center;
  width:100%;
  position:absolute;
  top:50%;
  letter-spacing:1px;
  left:0;
  line-height:0;
}

#milestone h2 {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  text-transform:uppercase;
  font-size:20px;
  position:absolute;
  right:10px;
  bottom:10px;
}

#content .collaborate {
  position: absolute;
  bottom: 40px;
  left: 20px;
}

#content .collaborate .expand.button {
  background: #3B5998;
  padding: 10px 24px;
  text-align: center;
  font-weight: bold;
}

#content .collaborate .expand.button:hover {
  cursor: pointer;
}

#content .collaborate .new_collaborator {
  position: absolute;
  bottom: 54px;
  left: 0px;
  width: 600px;
  opacity: 0;
}

#content .collaborate .new_collaborator .field {
  float: left;
}
#content .collaborate .new_collaborator input.text[name='collaborators'] {
  width: 356px;
  background: rgba(0,0,0,0.5);
}

#content .collaborate .new_collaborator .submit {
  height: 39px;
  padding: 8px;
  position: absolute;
  top: 1px;
  right: 80px;
  font-size: 20px;
}

#content .collaborate .new_collaborator button.submit {
  background: #3B5998;
}