body {
  background:url('/img/maui.jpg') no-repeat center top;
  background:url('/img/bg_4.png');
  background:url('/img/bg_3.jpg') no-repeat center top;
  background:url('/img/country-road.jpg') no-repeat center top;
  background:url('/img/bg_2.png');
  background-size:auto;
}

#content {
  position:absolute;
  top:95px;
  right:20px;
  width:500px;
  height:500px;
  background:rgba(0,0,0,.25);
  overflow:hidden;
}

#content .heading {
  padding:20px;
  background:rgba(0,0,0,.25);
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  color:#fff;
  text-shadow:-1px -1px 0 rgba(0,0,0,.7);
}

#content .progress {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  text-align:center;
  font-size:200px;
  color:#fff;
  text-shadow:-1px -1px 0 rgba(0,0,0,.7);
  width:100%;
  position:absolute;
  left:0;
  top:50%;
  margin-top:-50px;
}

#content .heading h1 {
  font-size:50px;
  padding-bottom:5px;
}

#content .heading .author {
  font-size:25px;
  float:right;
}

#content .legend {
  position:relative;
  z-index:100;
}

#content .share {
  position:absolute;
  right:20px;
  bottom:20px;
}

#content .share img {
  margin-left:10px;
  width:55px;
  height:55px;
}

#content .legend button {
  float:left;
  padding:16px 0 20px 0;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  text-transform:uppercase;
  font-size:15px;
  letter-spacing:1px;
  line-height:1;
  margin:0;
}

#content .legend button.powerup {
  cursor: pointer;
}

#content .legend button span {
  display:inline-block;
}

#content .legend button .plus {
  width:18px;
  height:18px;
  margin-right:5px;
  background:url('/img/sprites.png') -30px -20px;
  position:relative;
  bottom:-4px;
}

#content .legend .none {
  background:rgba(0,0,0,.15);
}

#content .legend .black {
  background:rgba(57,57,57,1);
}
#content .legend .black:hover {
  background:rgba(50,50,50,1);
}

#content .legend .red {
  background:rgba(203,0,0,.85);
}
#content .legend .red:hover {
  background:rgba(203,0,0,1);
}

#content .legend .blue {
  background:rgba(6,146,192,.85);
}
#content .legend .blue:hover {
  background:rgba(6,146,192,1);
}

#content .legend .green {
  background:rgba(0,45,0,.75);
}
#content .legend .green:hover {
  background:rgba(0,45,0,1);
}

#content .legend .label {
  font-size:13px;
  font-weight:bold;
  padding-top:3px;
}


#grid {
  position:absolute;
  left:20px;
  top:95px;
}

#grid .percent {
  width:100%;
  text-align:center;
  position:absolute;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  text-transform: uppercase;
  font-size:200px;
  left:0;
  top:50%;
  margin-top:-100px;
  color:rgba(255,255,255,.25);
  z-index:1;
}

#grid li {
  position:relative;
  overflow: hidden;
  z-index:2;
}

#grid.small li {
  width:20%;
  height:20%;
  float:left;
}

#grid.medium li {
  width:10%;
  height:10%;
  float:left;
}

#grid.large li {
  width:5%;
  height:5%;
  float:left;
}

#grid li .square {
  width:90%;
  height:90%;
  margin:5%;
  overflow: hidden;
  background:rgba(0,0,0,.15);
  -webkit-transition:all linear 400ms;
  -webkit-transform: rotateY(360deg);
  -moz-transition:all linear 400ms;
  -moz-transform: rotateY(360deg);
  transition:all linear 400ms;
  transform: rotateY(360deg);
}

#grid li.active .square {
  background:rgba(57,57,57,1);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  position: relative;
}

#grid li.active {
  cursor: pointer;
}

#grid li.active .square .meta {
  background: #ec2;
  width: 60%;
  height: 60%;
  margin:5%;
  position: relative;
  bottom: 7px;
  right: 7px;
  -webkit-transition:all linear 0ms;
  -moz-transition:all linear 0ms;
  transition:all linear 0ms;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  z-index: 10;
}

#grid li.red .square {
  background:rgba(203,0,0,1);
}

#grid li.blue .square {
  background:rgba(6,146,192,1);
}

#grid li.green .square {
  background:rgba(0,45,0,1);
}

#milestone {
  width:400px;
  height:200px;
  position:absolute;
  background:rgba(0,0,0,.5);
  top:100%;
  z-index:9000;
}

#milestone h1 {
  text-align:center;
  width:100%;
  position:absolute;
  top:50%;
  letter-spacing:1px;
  left:0;
  line-height:0;
}

#milestone h2 {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  text-transform:uppercase;
  font-size:20px;
  position:absolute;
  right:10px;
  bottom:10px;
}

#content .collaborate {
  position: absolute;
  bottom: 40px;
  left: 20px;
}

#content .collaborate .expand.button {
  background: #3B5998;
  padding: 10px 24px;
  text-align: center;
  font-weight: bold;
}

#content .collaborate .expand.button:hover {
  cursor: pointer;
}

#content .collaborate .new_collaborator {
  position: absolute;
  bottom: 54px;
  left: 0px;
  width: 600px;
  opacity: 0;
}

#content .collaborate .new_collaborator .field {
  float: left;
}
#content .collaborate .new_collaborator input.text[name='collaborators'] {
  width: 356px;
  background: rgba(0,0,0,0.5);
}

#content .collaborate .new_collaborator .submit {
  height: 39px;
  padding: 8px;
  position: absolute;
  top: 1px;
  right: 80px;
  font-size: 20px;
}

#content .collaborate .new_collaborator button.submit {
  background: #3B5998;
}

#content .controls {
  position:absolute;
  bottom:20px;
  left:20px;
}

#content .controls button {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  background: rgba(0,0,0,.25);
  display: block;
  padding: 10px 15px;
  text-align: center;
  float:left;
  margin-right:10px;
}

#content .controls button:hover {
  background: rgba(0,0,0,.50);
}

#content .controls button.active:hover,
#content .controls button.active {
  background: rgba(0,0,0,.75);
}

#content .controls button .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('/img/sprites.png') -30px 0;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

#content .controls button.stats .icon {
  background-position:-30px -40px;
  width:20px;
}

#content .controls button.users .icon {
  background-position:-30px -60px;
  width:25px;
}

#content .controls button.about .icon {
  background-position: -50px -30px;
}

#content .sections .about h3 {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  font-size:24px;
}

#content .sections .about {
  margin:20px;
  padding:20px;
  color:#000;
  font-size:20px;
  clear:both;
  line-height:1.25;
  background:#fff;
  position:relative;
  top:20px;
  overflow-y:auto;
}

#content .collaborators {
  margin:20px;
  padding:20px;
  clear:both;
  position:relative;
  background:#fff;
  top:20px;
  overflow-y:auto;
}

#content .collaborators table {
  width:100%;
  font-size:16px;
  color:#000;
}

#content .collaborators table tr {
  border-bottom:1px solid rgba(0,0,0,.05);
}

#content .collaborators table td {
  padding:10px;
}

#content .collaborators table th {
  text-align:left;
  padding:10px;
  font-weight:bold;
}

#content .collaborators table td.black {
  /* border-bottom:5px solid rgba(0,0,0,.75); */
  text-align:center;
}

#content .collaborators table td.blue {
  /* border-bottom:5px solid rgba(22,76,124,.75); */
  text-align:center;
}

#content .collaborators table td.red {
  /* border-bottom:5px solid rgba(111,11,11,.75); */
  text-align:center;
}

#content .collaborators table td.total {
  text-align:center;
}

#content .collaborators form {
  padding-top:10px;
}

#content .collaborators .field .text {
  float: left;
  border: none;
  background: #eee;
  color:#444;
  width: 180px;
  height: 40px;
  margin: 5px 0 0 5px;
  padding: 0 10px;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  font-size: 20px;
}

#content .collaborators button.submit {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  background:#cb0000;
  display: block;
  padding: 11px 20px;
  text-align: center;
  float:left;
  margin:5px 0 0 0;
}

#demo_screen {
  position:absolute;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.5);
  z-index:9999;
}

#demo {
  width:600px;
  padding:20px;
  background:#fff;
  color:#444;
  position:absolute;
  position:fixed;
  top:100px;
  left:50%;
  margin-left:-320px;
  z-index:10000;
}

#demo p {
  font-size:18px;
  line-height:1.2;
  padding:7px 0;
}

#demo .center {
  padding-top:25px;
}

#demo button {
  padding:20px 50px;
  background: #cb0000;
  color:#fff;
}

#content .metadata.section {
  padding: 12px;
  height: 400px;
}

#content .metadata.section h2 {
  margin-top: 56px;
  margin-bottom: 12px;
}

#content .metadata.section .nav .icon {
  margin-bottom: 14px;
  cursor: pointer;
}

#content .metadata.section .nav {
  height: auto;
  padding: 6px;
  margin: 8px 12px;
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.metadata.section form.metadata, .metadata.section form.metadata .input {
  float: left;
  margin-top: 4px;
}

.metadata.section form.metadata input[type="text"] {
  width: 300px;
  padding: 4px;
  font-size: 14px;
}

.metadata.section form.metadata textarea.metadata {
  font-size: 12px;
}

.metadata.section form.metadata .submit {
  margin-top: 8px;
}