#page {
  width:980px;
}

#grid_form {
  width:748px;
  float:right;
  position: relative;
}

#info {
  position:absolute;
  border-right:1px solid #ccc;
  width:200px;
  color:#444;
  line-height:1.3;
  font-size:14px;
  padding:10px;
  text-align:left;
}

#grid_form div.delete {
  position: absolute;
  bottom: 78px;
  right: 0px;
}