#sidebar {
  left:70px;
  top:100px;
  top:50%;
  margin-top:-175px;
  position:absolute;
  background:rgba(0,0,0,.5);
  width:500px;
  height:300px;
  padding:40px;
  left:50%;
  margin-left:-290px;
}

#sidebar .freebies {
  padding-top:35px;
}

#sidebar h1 {
  padding-bottom:10px;
}

#sidebar p {
  font-size:23px;
  font-weight:100;
  line-height:1.2;
  letter-spacing:1px;
  padding-bottom:15px;
  text-shadow:1px 1px 0 rgba(0,0,0,.7);
}

#sidebar a.button {
  margin:20px auto 0 auto;
  width:228px;
}

#sidebar form {
  padding-top:20px;
}

#sidebar form label {
  padding-top:12px;
}

#sidebar form div {
  clear:left;
  padding-top:7px;
}

#sidebar form input.text {
  width:209px;
}

#sidebar form button {
  background:rgba(208,96,13,.7);
  margin:0 auto;
  width:228px;
}

#sidebar form button img {
  position:relative;
  top:2px;
  left:-2px;
}

#sidebar p strong {
  padding:3px 10px;
  margin-right:2px;
  background:rgba(255,255,255,.15);
  text-align:center;
  border:none;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  text-transform: uppercase;
  color:#fff;
  line-height:1;
  display:inline-block;
  -webkit-transition:all linear 400ms;
  -webkit-transform: rotateY(360deg);
  -moz-transition:all linear 400ms;
  -moz-transform: rotateY(360deg);
  transition:all linear 400ms;
  transform: rotateY(360deg);
}

#sidebar p strong.flip {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

#sidebar .slideshow li {
  height:115px;
  display:none;
}

#sidebar .slideshow li.active {
  display:block;
}

#sidebar .slide_nav {
  position:relative;
  z-index:1000;
  height:15px;
}

#sidebar .slide_nav button {
  padding:0;
  margin:0;
  width:25px;
  height:15px;
  float:left;
  margin-right:5px;
  background:rgba(255,255,255,.15);
  -webkit-transition:all linear 400ms;
  -webkit-transform: rotateY(360deg);
  -moz-transition:all linear 400ms;
  -moz-transform: rotateY(360deg);
  transition:all linear 400ms;
  transform: rotateY(360deg);
  position:relative;
  z-index:1001;
}

#sidebar .slide_nav button.active {
  background:#36779c;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#tasks_tracked {
  width:100%;
  position:absolute;
  bottom:7px;
  left:0;
  text-align:center;
  font-size:19px;
  font-weight:100;
  letter-spacing:1px;
  text-shadow:1px 1px 0 rgba(0,0,0,.7);
}