div.grids {
  padding:24px 20px 20px 20px;
  width:610px;
}

.grid_list li {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  height:40px;
  background:#68dcaa;
  font-size:20px;
  line-height:40px;
  margin-bottom:5px;
  position:relative;
}

.grid_list li a {
  display:block;
  height:100%;
  width:100%;
  text-indent:10px;
  position:absolute;
  top:0;
  left:0;
  z-index:100;
  color:#fff;
  text-shadow:none;
}

.grid_list li .fill {
  display:block;
  position:absolute;
  top:0;
  left:0;
  z-index:99;
  height:100%;
  width:45%;
  background:#4bc090;
}

.completed_list li .fill {
  background:#444;
}

.grid_list .edit {
  position:absolute;
  top:0;
  left:-45px;
  color:#444;
  font-size:14px;
  opacity:.3;
  -webkit-transition:all 400ms;
  -moz-transition:all 400ms;
  transition:all 400ms;
}

.grid_list li:hover .edit {
  opacity:1;
}

a.new_grid {
  float:right;
  background: #cb0000;
  color: #fff;
  padding: 10px 30px;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  font-size: 20px;
  text-transform: uppercase;
  position:relative;
  top:-18px;
}

h2.completed {
  padding-top:40px;
}

.totals {
  font-size: 20px;
  padding:0 0 50px 0;
  line-height:1.2;
}

.totals li {
  clear:both;
  border-top:1px solid rgba(0,0,0,.03);
  padding:2px 0;
}

.totals li label {
  display:block;
  float:left;
  text-align:right;
  padding-right:5px;
  width:125px;
}