.field {
  margin-bottom:10px;
  width:748px;
  height:40px;
  position:relative;
}

.field label {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  float:left;
  padding-right:10px;
  width:130px;
  height:40px;
  background:rgba(0,0,0,.05);
  font-size:20px;
  line-height:40px;
}

.field input {
  float:left;
  border:none;
  background:rgba(0,0,0,.02);
  width:588px;
  height:40px;
  margin:0;
  padding:0 10px;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  font-size:20px;
}

.field input.prompt {
  border-right:10px solid #cb0000;
  padding-right:0;
}

.field input.small {
  width:176px;
  margin-right:10px;
}

.field input.last {
  margin-right:0;
}

.field .delete {
  position:absolute;
  top:13px;
  right:10px;
  z-index:1000;
  color:#444;
  opacity:.3;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  -webkit-transition:all 400ms;
  -moz-transition:all 400ms;
  transition:all 400ms;
}

.field:hover .delete {
  opacity:.7;
}

h2 {
  padding-bottom:5px;
}

button.submit {
  background: #cb0000;
  color: #fff;
  padding: 15px 50px;
}