.share {
  float:right;
}

.share img {
  width:40px;
  margin-left:5px;
}

.next {
  background:#cb0000;
  color:#fff;
  padding:10px 40px;
}

button.submit {
  background:#cb0000;
  padding:15px 50px;
}

button.random {
  float:right;
  background:rgba(0,0,0,.3);
}

.next_btn {
  text-align:left;
  padding-top:20px;
}

.content .slides {
  position:relative;
  overflow:hidden;
  width:100%;
  height:400px;
}

.content .slides .slide {
  width:100%;
  position:absolute;
  top:0;
  left:100%;
  -webkit-transition:left 200ms linear;
  -moz-transition:left 200ms linear;
  transition:left 200ms linear;
}

.content .slides .seen {
  left:-100%;
}

.content .slides .active {
  left:0;
}

.content .slides .slide li {
  clear:left;
}

#new_grid .field {
  margin-bottom:10px;
  width:748px;
  height:40px;
  position:relative;
}

#new_grid .field label {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  float:left;
  padding-right:10px;
  width:130px;
  height:40px;
  background:rgba(0,0,0,.05);
  font-size:20px;
  line-height:40px;
}

#new_grid .field input {
  float:left;
  border:none;
  background:#fff;
  width:588px;
  height:40px;
  margin:0;
  padding:0 10px;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  font-size:20px;
}

#new_grid .field input.small {
  width:176px;
  margin-right:10px;
}

#new_grid .field input.last {
  margin-right:0;
}

#new_grid h2 {
  padding-bottom:5px;
}

#new_grid .actions {
  position:absolute;
  top:7px;
  right:10px;
  z-index:10;
}

#new_grid button.clear {
  background:rgba(0,0,0,.15);
  color:#777;
}

#new_grid button.random {
  background:transparent;
  opacity:.25;
  padding:0;
  -webkit-transition:opacity linear 300ms;
  -moz-transition:opacity linear 300ms;
  transition:opacity linear 300ms;
}

#new_grid button.random:hover {
  opacity:1;
}