/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background:url('/img/bg_1.jpg') no-repeat;
  background-size: 100% auto;
  font-family:"Helvetica Neue",arial;
  font-weight:200;
  color:#fff;
  overflow:hidden;
}

a {
  color:#ae0000;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

a.button {
  display:block;
  background:rgba(208,96,13,.7);
  padding:15px;
  text-align:center;
  border:none;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  text-transform: uppercase;
  font-size:24px;
  color:#fff;
  line-height:1;
}

a.button:hover {
  background:rgba(208,96,13,.85);
  text-decoration:none;
}

img.right {
  float:right;
  margin-left:15px;
  margin-bottom:15px;
}

img.left {
  float:left;
  margin-right:15px;
  margin-bottom:15px;
}

strong {
  font-weight:500;
}

.center {
  text-align:center;
}

.clear {
  clear:both;
}

.right {
  float:right;
}

.left {
  float:left;
}

#header {
  width:100%;
  height:75px;
  background:rgba(0,0,0,.7);
  position:absolute;
  position:fixed;
  top:0;
  z-index: 10;
}

#logo {
  display:block;
  height:60px;
  width:230px;
  background:url('/img/logo_white.png') no-repeat;
  position:absolute;
  top:5px;
  left:10px;
}

#page {
  position:relative;
}

h1,h2,h3 {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  font-size:35px;
}

input.text {
  padding:10px;
  font-size:15px;
  border:none;
  background:rgba(255,255,255,.20);
  color:#fff;
}

button {
  padding:15px;
  text-align:center;
  border:none;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  text-transform: uppercase;
  font-size:24px;
  color:#fff;
  line-height:1;
}

button:hover {
  cursor:pointer;
}

form label {
  width:75px;
  padding-right:10px;
  text-align:right;
  display:block;
  float:left;
}

#header .account {
  position:absolute;
  top:17px;
  right:17px;
}

#header .account a.button {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  text-transform: uppercase;
  font-size:18px;
  color:#fff;
  background:rgba(0,0,0,.5);
  display:block;
  padding:10px 15px;
  text-align:center;
  text-decoration:none;
  float:right;
  margin-left:15px;
}

#header .account a.button:hover {
  background:rgba(0,0,0,1);
}

#header .account a.button .icon {
  display:inline-block;
  width:16px;
  height:16px;
  background:url('/img/sprites.png') -30px 0;
  margin-right:5px;
  position:relative;
  top:2px;
}

#header .account a.grids .icon {
  background-position:-50px -30px;
}

#header .account a.settings .icon {
  background-position:-70px -30px;
}

#header .account .login.button:hover {
  cursor: pointer;
}

#nav {
  width:100%;
  position:fixed;
  bottom:0;
  left:0;
  height:40px;
  background:rgba(0,0,0,.7);
  z-index:2000;
}

#nav a {
  color:rgba(255,255,255,.6);
  height:40px;
  line-height:40px;
  font-size:14px;
  text-align:center;
  text-decoration:none;
  letter-spacing:1px;
  float:left;
  padding:0 10px;
  text-shadow: none;
}

#nav a:hover {
  color:#fff;
  background:rgba(0,0,0,.75);
}

#nav a.right {
  float:right;
}

.twitter-share-button {
  display:block;
  width:40px;
  height:40px;
  background:url('/img/twitter.png') no-repeat;
  background-size: cover;
  position:relative;
  text-indent:-999px;
  overflow:hidden;
}