<% include ../partials/head.ejs %>

<link href="/css/join.css" rel="stylesheet" type="text/css" />

<h1>UPDATE CARD</h1>

<% include ../partials/payment_form.ejs %>

<% include ../partials/footer.ejs %>