<% include ../partials/head.ejs %>

<div class="side"></div>

<div class="sign-up content">
	<h1>Forgot your password?</h1>
	<p>No worries! Just enter your email and we'll send you a link to set a new one.</p>
  <form action="/forgot_password" method="post">
    <div class="field">
			<label>EMAIL</label>
      <input type="email" class="email" name="email" />
    </div>
    
		<ul class="right links">
			<li><a href="/sign_in">Sign in</a></li>
		</ul>
    <button type="submit" class="submit">RESET PASSWORD</button>
  </form>
</div>

<% include ../partials/footer.ejs %>