<% include ../partials/head.ejs %>

<div class="side"></div>

<div class="content">
	<form action="/change_password" method="post" id="password_form">

		<h1>CHANGE PASSWORD</h1>
	  <div class="field">
			<label>NEW PASS</label>
	    <input type="password" name="user[password]" id="pass_1" />
	  </div>

		<div class="field">
			<label>REPEAT</label>
	    <input type="password" name="" id="pass_2" />
	  </div>
  
		<ul class="right links">
			<li><a href="/settings">Settings</a></li>
			<li><a href="/sign_out">Sign out</a></li>
		</ul>
		<button type="submit" class="submit">Submit</button>
	</form>
</div>

<% include ../partials/footer.ejs %>