<% include ../partials/head.ejs %>

<div class="side">
	<% include ../partials/news.ejs %>
</div>

<div class="content">
	<% include ../partials/settings_form.ejs %>
</div>

<% include ../partials/footer.ejs %>