/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background:url('/images/bg_1.jpg') no-repeat;
  background-size: 100% auto;
  font-family:"Helvetica Neue",arial;
  font-weight:200;
  color:#fff;
}

.center {
  text-align:center;
}

.clear {
  clear:both;
}

#header {
  width:100%;
  height:75px;
  background:rgba(0,0,0,.5);
  position:absolute;
  top:0;
}

#logo {
  display:block;
  height:60px;
  width:230px;
  background:url('/images/logo_white.png') no-repeat;
  position:absolute;
  top:5px;
  left:10px;
  opacity:.6;
}

#page {
  position:relative;
}

h1,h2,h3 {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  text-transform: uppercase;
  font-size:35px;
}

input.text {
  padding:10px;
  font-size:15px;
  border:none;
  background:rgba(255,255,255,.20);
  color:#fff;
}

button {
  padding:15px;
  text-align:center;
  border:none;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  text-transform: uppercase;
  font-size:24px;
  color:#fff;
  line-height:1;
}

form label {
  width:75px;
  padding-right:10px;
  text-align:right;
  display:block;
  float:left;
}

#header .account {
  position:absolute;
  top:17px;
  right:17px;
}

#header .account a.button {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  text-transform: uppercase;
  font-size:18px;
  color:#fff;
  background:rgba(0,0,0,.5);
  display:block;
  width:100px;
  padding:10px 0;
  text-align:center;
  text-decoration:none;
}

#header .account a.button:hover {
  background:rgba(0,0,0,1);
}

#header .account a.button .icon {
  display:inline-block;
  width:16px;
  height:16px;
  background:url('/images/sprites.png') -24px 0;
  margin-right:5px;
  position:relative;
  top:2px;
}