<% include ../partials/head.ejs %>

<div class="grids">

	<a href="/grids/new" class="new_grid">New Grid</a>
  <h1>Grids</h1>
  
  <% for (var i = grids.length-1; i > -1; i--) { %>
    <% var grid = grids[i]; %>
		<% var percent = (grid.powerUps.length/grid.size)*100; %>

    <ul class="grid_list">
      <li>
				<div class="fill" style="width:<%= percent %>%;"></div>
        <a href="/grids/<%- grid.slug %>"><%= grid.name %></a>
      </li>
    </ul>
  <% } %>
</div>

<% include ../partials/footer.ejs %>