<% include ../partials/head.ejs %>

<div class="section">
	<h1>Dane's Stats</h1>
	<ul class="stats">
		<li>Badges earned: 3</li>
		<li>Steps: 1,902</li>
		<li>Time per badge: 21 days</li>
		<li>Badges earned: 3</li>
		<li>Steps: 1,902</li>
		<li>Time per badge: 21 days</li>
		<li>Badges earned: 3</li>
		<li>Steps: 1,902</li>
		<li>Time per badge: 21 days</li>
	</ul>
</div>

<div class="section">
	<h1>Badge Timeline</h1>
	
	<ul class="timeline">
		<li class="now">
			<div class="time">Now</div>
		</li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li class="last"></li>
		<li class="badge">
			<div class="time">March 2nd 2013</div>
			<div class="name">Lose Weight</div>
		</li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li class="last"></li>
		<li class="badge">
			<div class="time">Feb 23rd 2013</div>
			<div class="name">Finish Science Project</div>
		</li>
		<li></li>
		<li></li>
		<li class="last"></li>
		<li class="badge">
			<div class="time">Jan 13th 2013</div>
			<div class="name">Lose Weight</div>
		</li>
	</ul>
</div>

<div class="clear"></div>

<% include ../partials/footer.ejs %>