<% include ../partials/head.ejs %>
<style>
	#sidebar {
		height: 340px;
		margin-top:-195px;
	}
	h2 {
		padding-bottom:10px;
	}
	a {
	  color: #aaa;
	}
</style>

<div id="sidebar">
	<ul class="slideshow">
		<li class="active">
			<h1>BECOME A WRITER, DAY BY DAY</h1>
			<p>PowerUp will help you stay on track, honing your writing skills step-by-step.</p>
		</li>
		<li>
			<h2>BE MORE PERSISTENT</h2>
			<p>Day-by-day, PowerUp will be there, helping you preserve the persistence you need.</p>
		</li>
		<li>
			<h2>SEE YOUR PROGRESS</h2>
			<p>When you track your writing process, you'll see your writing improve sooner.</p>
		</li>
		<li>
			<h2>STAY FOCUSED</h2>
			<p>By tracking details of your writing process, you'll see how those choices affect your work.</p>
		</li>
		<li>
			<h2>GET SUPPORT</h2>
			<p>By inviting friends, you can encourage each other in continuing to write.</p>
		</li>
	</ul>
	<div class="slide_nav">
		<button class="active" data-slide="0"></button>
		<button data-slide="1"></button>
		<button data-slide="2"></button>
		<button data-slide="3"></button>
		<button data-slide="4"></button>
	</div>
	
	<% include ../partials/grid_landing_page.ejs %>
		
	<% power_ups = power_ups.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %>
	<div id="tasks_tracked"><%= power_ups %> tasks tracked on PowerUp</div>
</div>

<% include ../partials/footer.ejs %>

<script>
  $(function () {
    $("#new_grid input[name='grid[name]']").attr('value', 'Become a Writer');
    var units = ['Write', 'Edit', 'Publish'];
    _.each($("#new_grid input[name='workUnit[]']"), function (el, i) {
      $(el).val(units[i]);
    });
    
    $("#new_grid").append('<div class="field" style="display:none;">\
			\
			<input type="text" name="dataTypes[0][dataType]" value="number">\
  	  <input type="text" name="dataTypes[0][name]" value="Word count">\
	    \
  	  <input type="text" name="dataTypes[1][dataType]" value="string">\
  	  <input type="text" name="dataTypes[1][name]" value="Link">\
	    \
  	  <input type="text" name="dataTypes[2][dataType]" value="number">\
  	  <input type="text" name="dataTypes[2][name]" value="Happiness level">\
	  </div>');
  });
</script>