<style>
	h1.heading {
		padding-bottom:35px;
	}

	div.gap {
		height:20px;
	}
	
	p.note {
		padding-bottom:5px;
	}
	
	p.note span {
		font-weight:bold;
	}

	button.active {
		background:#cb0000;
		color:#fff;
	}
	
	input[type="range"]{
	    background:#bbb;
	    width: 410px;
	    height: 6px;
	    -webkit-appearance: none;
	}

	input[type="range"]::-webkit-slider-thumb{
	   -webkit-appearance:none !important;  
	   width:25px;
	   height:16px;
	   -webkit-appearance: none;
	    background: #555;
	 }
	
	input[type="range"]::-webkit-slider-thumb:hover{
	}
	
	input[type="number"]{
		-webkit-appearance: none;
		border: none;
		background: rgba(0,0,0,.07);
		font-weight: bold;
		font-size: 18px;
		padding: 3px;
	}
	
	#day_frame {
		float:right;
		padding-top:90px;
		width:300px;
		height:276px;
		text-align:center;
		background:rgba(0,0,0,.1);
		position:relative;
	}
	
	#day_frame h1 {
		font-size:70px;
	}
	
	#day_buttons {
		padding-top:5px;
	}
	
	.get_started {
		position:absolute;
		bottom:0;
		height:90px;
		text-align:center;
		width:100%;
		padding-top:15px;
		border-top:1px dashed #888;
	}
	
	.get_started p {
		padding-bottom:20px;
	}
	
	.get_started a{
		background: #cb0000;
		color: #fff;
		padding: 10px 30px;
		font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
		font-size: 20px;
		text-transform: uppercase;
	}
	
	.content {
		clear:both;
		margin-top:50px;
		padding-top:50px;
		border-top:1px dashed #888;
	}
</style>

<% include ../partials/head.ejs %>

<h1 class="heading">How long does it take to write a book?</h1>

<div id="day_frame">
	<h2>Total Days:</h2>
	<h1 id="days"></h1>
	
	<div class="get_started">
		<p>What are you waiting for?</p>
		<a href="/getting-started/1">GET STARTED</a>
	</div>
</div>
<h2>BOOK WRITING CALCULATOR</h2>
<p class="note">How many words do you write per minute? <input id="wordValue" type="number" name="quantity" min="1" max="100" value="50" /></p>
<input id="wordSlider" type="range" min="1" max="100" value="50" />

<div class="gap"></div>

<p class="note">How many pages are you planning to write? <input id="pageValue" type="number" name="quantity" min="1" max="2000" value="300" /></p>
<input id="pageSlider" type="range" min="1" max="2000" value="300" />

<div class="gap"></div>

<p class="note">How many revisions do you plan to make? <input id="editValue" type="number" name="quantity" min="0" max="10" value="2" /></p>
<input id="editSlider" type="range" min="0" max="10" value="2" />

<div class="gap"></div>

<p class="note">How many hours do you plan to write per day? <input id="hourValue" type="number" name="quantity" min="0" max="24" step=".25" value="1" /></p>
<input id="hourSlider" type="range" min="0" max="24" value="1" step=".25" />

<div class="gap"></div>

<p>Which days do you write?</p>
<div id="day_buttons">
	<button class="day">S</button>
	<button class="day active">M</button>
	<button class="day active">T</button>
	<button class="day active">W</button>
	<button class="day active">T</button>
	<button class="day active">F</button>
	<button class="day">S</button>
</div>

<div class="content">
	<h2>fsakjsdfasd fasdklfasd f asd f asd</h2>
	<p>alksdjfa sdflkasjdflkjasd fklj aslkd flkjas dlkf j</p>
</div>

<% include ../partials/footer.ejs %>

<script>
	$(function(){
			$('button.day').click(function(){
				$(this).toggleClass('active');
				calc_days();
			});
	
	    var wordValue = $('#wordValue');
			var pageValue = $('#pageValue');
			var hourValue = $('#hourValue');
			var editValue = $('#editValue');
			var days = $('#days');

	    $('#wordSlider').change(function(){
	        wordValue.val(this.value);
					calc_days();
	    });
			wordValue.change(function(){
				$('#wordSlider').val(this.value);
				calc_days();
			});
	    $('#wordSlider').change();
	
			$('#pageSlider').change(function(){
	        pageValue.val(this.value);
					calc_days();
	    });
			pageValue.change(function(){
				$('#pageSlider').val(this.value);
				calc_days();
			});
	    $('#pageSlider').change();
	
			$('#editSlider').change(function(){
	        editValue.val(this.value);
					calc_days();
	    });
			editValue.change(function(){
				$('#editSlider').val(this.value);
				calc_days();
			});
	    $('#editSlider').change();
	
			$('#hourSlider').change(function(){
	        hourValue.val(this.value);
					calc_days();
	    });
			hourValue.change(function(){
				$('#hourSlider').val(this.value);
				calc_days();
			});
	    $('#hourSlider').change();
	
			function calc_days(){
				var totalWords = pageValue.val()*250;
				var editPercent = 1+(editValue.val()*.6);
				var adjustedWords = totalWords*editPercent;
				var efficiency = 7/$('button.day.active').length;
				var totalHours = (adjustedWords / (wordValue.val() * 60))*efficiency;
				var totalDays = totalHours / hourValue.val();
				var roudedDays = Math.round(totalDays * 10) / 10
				days.text(addCommas(roudedDays));
			}
			
			function addCommas(nStr){
				nStr += '';
			  x = nStr.split('.');
			  x1 = x[0];
			  x2 = x.length > 1 ? '.' + x[1] : '';
			  var rgx = /(\d+)(\d{3})/;
			  while (rgx.test(x1)) {
			  	x1 = x1.replace(rgx, '$1' + ',' + '$2');
			  }
			  return x1 + x2;
			}
	});
</script>