<% include ../partials/head.ejs %>

<div class="side">
	<% include ../partials/news.ejs %>
</div>

<h1>Contact</h1>
<div class="content">
	<p>No matter if you're here to track your workouts or finish a project that has been sitting on the back burner for the last year, we want to help you reach your goals.</p>
	<p>Get <a target="_blank" href="mailto:help@powerup.io">help@powerup.io</a> whenever you have any problems, questions, comments or ideas. We're a small team but we'll get back to you as soon as we can.</p>
</div>

<% include ../partials/footer.ejs %>