<% include ../partials/head.ejs %>
<style>
	a.button:hover,
	a.button {
		background:#cb0000;
		padding:15px 50px;
		width:100px;
		margin:0 auto;
	}
</style>

<h1>FIFTEN</h1>
<div class="content">
	<p>FIFTEN is a simple game available in the Google Web Store designed to help you improve your concentration, scanning ability and overall mental fortitude.</p>
	<p>You'll be given 12 random letters. The goal is to find the duplicate pair before the timer runs out. When you find it, simply type in the letter.</p>
	<p>Every time you get the correct letter you'll be given a new set and the whole thing keeps repeating until you fail. Go as long as possible and try to improve your high score and average score over time.</p>
	<p><a class="button" href="https://chrome.google.com/webstore/detail/fiften/lcflfjfcklflbggdmiinbhoekfoonmcd" target="_blank">Try it</a></p>
</div>

<% include ../partials/footer.ejs %>