<% include ../partials/head.ejs %>

<a class="skip" href="/grids/new">I'M READY TO GO!<br /><span>CREATE A GRID &rarr;</span></a>
<h1>GETTING STARTED WITH POWERUP</h1>

<ul class="toc">
	<li>
		<button class="active the_grid" data-slide="the_grid">
			<div class="icon">1</div>
			The Grid
		</button>
	</li>
	<li>
		<button class="ideas" data-slide="ideas">
			<div class="icon">2</div>
			Grid Ideas
		</button>
	</li>
	<li>
		<button class="support" data-slide="setup">
			<div class="icon">3</div>
			Build a Grid
		</button>
	</li>
</ul>

<div class="content">
	<div class="slides">
		<div class="slide the_grid active">
			<img src="/img/demo_screen.jpg" style="float:left;" />
			<img src="/img/shadow.png" />
			<p class="clear">PowerUp Grids help you track progress. Start by picking a goal and splitting it into manageable tasks. For example, I created a grid to help me complete 4,000 push-ups. Every time I do 10 push-ups I earn a square.</p>
			<a class="next" href="#" data-slide="ideas">Next: Grid Ideas &rarr;</a>
		</div>
		<div class="slide ideas">
			<p>[grid ideas]</p>
			<a class="next" href="#" data-slide="setup">Next: Friends &rarr;</a>
		</div>
		<div class="slide setup">
			<p>Grid setup form</p>
			<a class="next" href="#" data-slide="setup">Next: Getting Help &rarr;</a>
		</div>
</div>

<% include ../partials/footer.ejs %>