<% include ../partials/head.ejs %>

<a class="skip" href="/grids/new">I'M READY TO GO!<br /><span>CREATE A GRID &rarr;</span></a>
<h1>GETTING STARTED WITH POWERUP</h1>

<ul class="toc">
	<li>
		<button class="active the_grid" data-slide="the_grid">
			<div class="icon">1</div>
			The Grid
		</button>
	</li>
	<li>
		<button class="help" data-slide="help">
			<div class="icon">2</div>
			Getting Help
		</button>
	</li>
	<li>
		<button class="ideas" data-slide="ideas">
			<div class="icon">3</div>
			Grid Ideas
		</button>
	</li>
	<li>
		<button class="support" data-slide="support">
			<div class="icon">4</div>
			Friends
		</button>
	</li>
</ul>

<div class="content">
	<div class="slides">
		<div class="slide the_grid active">
			[Video Intro]
			<a class="next" href="#" data-slide="help">Next: Getting Help &rarr;</a>
		</div>
		<div class="slide help">
			<p>No matter if you're here to track your workouts or finish a project that has been sitting on the back burner for the last year, we want to help you reach your goals.</p>
			<p>Get <a target="_blank" href="mailto:help@powerup.io">help@powerup.io</a> whenever you have any problems, questions, comments or ideas. We're a small team but we'll get back to you as soon as we can.</p>
			<a class="next" href="#" data-slide="ideas">Next: Grid Ideas &rarr;</a>
		</div>
		<div class="slide ideas">
			[grid ideas]
			<a class="next" href="#" data-slide="support">Next: Friends &rarr;</a>
		</div>
		<div class="slide support">
			Friend support
			<a href="/grids/new">Create a grid &rarr;</a>
		</div>
</div>

<% include ../partials/footer.ejs %>