<% include ../partials/head.ejs %>

<div class="share">
	<a href="/"><img src="/img/twitter.png"></a>
	<a href="/"><img src="/img/facebook.png"></a>
	<a href="/"><img src="/img/google+.png"></a>
</div>

<h1>START POWERING UP</h1>

<ul class="toc">
	<li>
		<button class="active the_basics" data-slide="the_basics">
			<div class="icon">1</div>
			The Basics
		</button>
	</li>
	<li>
		<button class="friends" data-slide="friends">
			<div class="icon">2</div>
			Friends
		</button>
	</li>
	<li>
		<button class="setup" data-slide="setup">
			<div class="icon">3</div>
			Build a Grid
		</button>
	</li>
</ul>

<div class="content">
	<div class="slides">
		<ul class="slide the_basics active">
			<li>
				<img src="/img/trophy.png" class="left" />
				It all starts with a <strong>simple goal</strong>. Maybe you want to learn a new language, lose 50lbs or finish that project that has been sitting on the back burner for too long.
			</li>
			<li>
				<img src="/img/icon_grid.png" class="left" />
				We help you break down your goals into manageable bits. Every time you complete a task, you get rewarded with a square in your personal PowerUp Grid.
			</li>
			<li>
				<img src="/img/icon_powerup.png" class="left" />
				Complete an entire grid and earn a PowerUp Badge. Your badge timeline is a great way to keep track of all your accomplishments.
			</li>
			<li class="next_btn">
				<a class="next" href="#" data-slide="friends">Next: Friends</a>
			</li>
		</ul>
		<ul class="slide friends">
			<li>
				<img src="/img/icon_friends.png" class="left" />
				Sometimes you need a little extra push to keep on track. With PowerUp you can collaborate on grids with your friends either cooperatively or competitively!
			</li>
			<li>
				Or share your grid on social media so your friends can cheer you on from the sidelines.
			</li>
			<li class="next_btn">
				<a class="next" href="#" data-slide="setup">Next: Build a Grid</a>
			</li>
		</ul>
		<ul class="slide setup">
			<li>
			  <% include ../partials/grid_mini_form.ejs %>
			</li>
		</ul>
</div>

<% include ../partials/footer.ejs %>