<% include ../partials/head.ejs %>

<a class="skip" href="/grids/new">I'M READY TO GO!<br /><span>CREATE A GRID &rarr;</span></a>
<h1>GETTING STARTED WITH POWERUP</h1>

<ul class="toc">
	<li>
		<button class="active the_basics" data-slide="the_basics">
			<div class="icon">1</div>
			The Basics
		</button>
	</li>
	<li>
		<button class="friends" data-slide="friends">
			<div class="icon">2</div>
			Friends
		</button>
	</li>
	<li>
		<button class="setup" data-slide="setup">
			<div class="icon">3</div>
			Build a Grid
		</button>
	</li>
</ul>

<div class="content">
	<div class="slides">
		<ul class="slide the_basics active">
			<li>
				<img src="/img/trophy.png" class="left" />
				It all starts with a <strong>simple goal</strong>. Maybe you want to learn a new language, lose 50lbs, finish a project, eat healthier or any other worth while ambition.
			</li>
			<li>
				<img src="/img/icon_grid.png" class="left" />
				We help you break down your goals into manageable tasks. Every time you complete a task you get rewarded with a square in your personal PowerUp Grid.
			</li>
			<li>
				<img src="/img/icon_powerup.png" class="left" />
				Complete an entire grid and earn a PowerUp Badge. Your badge timeline is a great way to keep track of all your accomplishments.
			</li>
			<li>
				<a class="next" href="#" data-slide="friends">Next: Friends &rarr;</a>
			</li>
		</ul>
		<ul class="slide friends">
			<li>
				<img src="/img/icon_friends.png" class="left" />
				Sometimes you need a little extra push to keep on track. We've made it so you can collaborate on grids with your friends either cooperatively or competitively!
			</li>
			<li>
				Or share your grid on social media so your friends can cheer you on from the sidelines.
			</li>
			<li style="padding-top:10px">
				<a class="next" href="#" data-slide="setup">Next: Build a Grid &rarr;</a>
			</li>
		</ul>
		<ul class="slide setup">
			<li>GRID SETUP FORM</li>
		</ul>
</div>

<% include ../partials/footer.ejs %>