<% include ../partials/head.ejs %>

<a class="skip" href="/grids/new">I'M READY TO GO!<br /><span>CREATE A GRID &rarr;</span></a>
<h1>GETTING STARTED WITH POWERUP</h1>

<ul class="toc">
	<li>
		<button class="active" data-slide="help">
			<div class="icon"></div>
			We're here to help
		</button>
	</li>
	<li>
		<button data-slide="starting_grid">
			<div class="icon"></div>
			Starting a grid
		</button>
	</li>
	<li>
		<button data-slide="using_grid">
			<div class="icon"></div>
			Using your grid
		</button>
	</li>
	<li>
		<button data-slide="maximizing_grid">
			<div class="icon"></div>
			Getting the most out of your grid
		</button>
	</li>
	<li>
		<button data-slide="support">
			<div class="icon"></div>
			Getting support from your friends
		</button>
	</li>
</ul>

<div class="content">
	<div class="slides">
		<div class="slide help active">
			<p>No matter if you're here to track your workouts or finish a project that has been sitting on the back burner for the last year, we want to help you reach your goals.</p>
			<p>Get <a target="_blank" href="mailto:help@powerup.io">help@powerup.io</a> whenever you have any problems, questions, comments or ideas. We're a small team but we'll get back to you as soon as we can.</p>
			<a class="next">Next: Starting a grid &rarr;</a>
		</div>
		<div class="slide starting_grid">
			[SCREENCAST GOES HERE]
		</div>
		<div class="slide using_grid">
			[SCREENCAST GOES HERE]
		</div>
		<div class="slide maximizing_grid">
			[SCREENCAST GOES HERE]
		</div>
		<div class="slide support">
			[CONTENT GOES HERE]
		</div>
</div>

<% include ../partials/footer.ejs %>