<% include ../partials/head.ejs %>

	<ul id="grid" class="large"></ul>
	
	<div id="content">
		<div class="heading">
			<h1>Pushup Grid</h1>
			<div class="progress"><span></span> complete</div>
		</div>
		<ul class="legend">
			<li>
				<div class="square black"></div>
				<div class="label">= 10 pushups</div>
			</li>
		</ul>
	</div>
	
<% include ../partials/footer.ejs %>
<script type="text/javascript">
  $(function () {
    var grid = {
      size: 400,
      powerUps: [1, 4, 20, 40, 50, 123, 235, 321, 213, 313]
    };
    PowerUp.GridMaster.initializeGrid();
    PowerUp.GridMaster.populateGrid(grid);
  });
</script>
