<% include ../partials/head.ejs %>

	<ul id="grid" class="large"></ul>
	
	<div id="content">
		<div class="heading">
			<div class="author">
				Dane Lyons
			</div>
			<h1>Pushup Power Grid</h1>
		</div>
		<div class="legend">
			<button class="black">
				<span class="plus"></span>
				<span>10 pushups</span>
			</button>
			<button class="blue">
				<span class="plus"></span>
				<span>20 pushups</span>
			</button>
			<button class="red">
				<span class="plus"></span>
				<span>30 pushups</span>
			</button>
		</div>
		<div class="progress"></div>
		
		<div class="share">
			<a href="/"><img src="/img/twitter.png" /></a>
			<a href="/"><img src="/img/facebook.png" /></a>
			<a href="/"><img src="/img/google+.png" /></a>
		</div>
	</div>
	
<% include ../partials/footer.ejs %>
<script type="text/javascript">
  $(function () {
    var grid = {
      size: 400,
      powerUps: []
    };
    
    for (var i = 0; i < 100; i++) {
      grid.powerUps.push(Math.floor(Math.random() * grid.size));
    }
    PowerUp.GridMaster.initializeGrid();
    PowerUp.GridMaster.populateGrid(grid);
  });
</script>
