<% include ../partials/head.ejs %>

	<ul id="grid" class="large"></ul>
	
	<div id="content">
		<div class="heading">
			<h1>Pushup Grid</h1>
			<div class="progress"><span></span> complete</div>
		</div>
	</div>
	
<% include ../partials/footer.ejs %>