<% include ../partials/head.ejs %>
<style>
	#sidebar {
		height: 320px;
		margin-top:-185px;
	}
	h2 {
		padding-bottom:10px;
	}
</style>

<div id="sidebar">
	<ul class="slideshow">
		<li class="active">
			<h1>TRACK YOUR PROGRESS</h1>
			<p>PowerUp is a personal analytics tool that helps you turn your projects and goals into stories.</p>
		</li>
		<li>
			<h2>BUILD GOOD HABITS</h2>
			<p>We help you break your goals down and focus on the most important tasks.</p>
		</li>
		<li>
			<h2>REWARDS</h2>
			<p>Visually tracking goals and milestones keeps you motivated to get more done.</p>
		</li>
		<li>
			<h2>LEARN MORE</h2>
			<p>Our visualizations are designed to help you explore your data to help you improve.</p>
		</li>
		<li>
			<h2>COLLABORATE</h2>
			<p>Get your friends involved to keep things fun, challenging and competitive.</p>
		</li>
	</ul>
	<div class="slide_nav">
		<button class="active" data-slide="0"></button>
		<button data-slide="1"></button>
		<button data-slide="2"></button>
		<button data-slide="3"></button>
		<button data-slide="4"></button>
	</div>
		
	
	<form id="sign_up_form" action="/sign_up" method="post">
    <div class="field">
			<label>EMAIL</label>
      <input type="email" class="email" name="user[email]" />
    </div>
    
    <div class="field">
			<label>PASSWORD</label>
      <input type="password" class="password" name="user[password]" />
    </div>
		
		<div class="center">
			<button type="submit" class="submit">
				<img src="/img/icon_white.png" width="30" height="26" />
				SIGN UP
			</button>
		</div>
  </form>

</div>

<% include ../partials/footer.ejs %>