<% include ../partials/head.ejs %>
<style>
	body {
		/* background-image:url('/img/bg_sketch.jpg'); */
	}
	
	#attribution {
		position:absolute;
		bottom:50px;
		right:15px;
		color:#777;
	}
</style>

<div id="sidebar">
	<h1>TRACK YOUR PROGRESS</h1>
	<p>PowerUp is a personal analytics tool that helps you turn your projects and goals into stories.</p>
	
	<form action="/sign_up" method="post">
    <div class="field">
			<label>EMAIL</label>
      <input type="email" class="email" name="user[email]" />
    </div>
    
    <div class="field">
			<label>PASSWORD</label>
      <input type="password" class="password" name="user[password]" />
    </div>
		
		<div class="center">
			<button type="submit" class="submit">
				<img src="/img/icon_white.png" width="30" height="26" />
				GET STARTED
			</button>
		</div>
  </form>

</div>

<% include ../partials/footer.ejs %>