<% include ../partials/head.ejs %>

<div id="sidebar">
	<h1>TRACK YOUR PROGRESS</h1>
	<p>PowerUp is a personal analytics tool that helps you turn your projects and goals into stories.</p>
	
	<p class="freebies">The next
	<% for(var i=0;i<freebies.length;i++){ %>
		<strong><%= freebies[i] %></strong>
	<% } %>
	 lucky users get free premium accounts for life!</p>
	
	<a href="/getting-started" class="button">
		<img src="/img/icon_white.png" width="30" height="26" />
		GET STARTED
	</a>
</div>

<% include ../partials/footer.ejs %>

<script>
	var freebies = "<%= freebies %>";
	function freebieCounter(){
	  console.log("FREEBIE!");
		freebies -= 1;
		freebies += ""; //makes freebies a string
    if(freebies.length<2){
      freebies = "00"+freebies;
    }else if(freebies.length<3){
      freebies = "0"+freebies;
    }
		for(var i=0;i<freebies.length;i++){
			var elem = $('.freebies strong:eq('+i+')');
			var currentNum = elem.text();
			var newNum = freebies[i];
			if(currentNum != newNum){
				elem.toggleClass('flip');
				(function(elem,i){
					setTimeout(function(){
						elem.text(freebies[i]);
					},200);
				})(elem,i);
			}
		}
	}
	
	$(function(){
	  var uri = window.location.protocol + "//" + window.location.host;
		var socket = io.connect(uri);
    socket.on('promo.zed', function (data) {
		  freebieCounter();
	  });
	});
</script>