<% include ../partials/head.ejs %>

<div id="sidebar">
	<h1>RUN 400 MILES CHALLENGE</h1>
	<p>PowerUp is a personal analytics tool. Join the 400 mile challenge and track your progress.</p>
	
	<% include ../partials/grid_landing_page.ejs %>
</div>

<% include ../partials/footer.ejs %>

<script>
  $('input.goal').val('Run 400 Miles');
	$('textarea.about').val('Colors are used to represent how far you&#39;ve gone in a given day. For the first 3 miles, click the black button. For miles 4-10 choose the blue button. The red button is for miles 11+.');
  $('input.work_unit:eq(0)').val('Run 1 Mile');
  $('input.work_unit:eq(1)').val('Run 1 Mile');
  $('input.work_unit:eq(2)').val('Run 1 Mile');
</script>