<% include ../partials/head.ejs %>
<style>
	body {
		background-image:url('/img/bg_sketch.jpg');
	}
	
	#attribution {
		position:absolute;
		bottom:50px;
		right:15px;
		color:#777;
	}
</style>

<div id="sidebar">
	<h1>CREATE 400 SKETCHES CHALLENGE</h1>
	<p>PowerUp is a personal analytics tool. Join the sketches challenge and track your progress.</p>
	
	<% include ../partials/grid_landing_page.ejs %>
</div>

<div id="attribution">
	Photo by <a href="http://www.flickr.com/photos/dgoomany/">Dineshraj Goomany</a>
</div>

<% include ../partials/footer.ejs %>

<script>
  $('input.goal').val('Create 400 Sketches');
	$('textarea.about').val('Colors are used to represent how many sketches you&#39;ve created in a given day. For the first 3 sketches, click the black button. For sketches 4-10 choose the blue button. The red button is for sketches 11+.');
  $('input.work_unit:eq(0)').val('Create 1 Sketch');
  $('input.work_unit:eq(1)').val('Create 1 Sketch');
  $('input.work_unit:eq(2)').val('Create 1 Sketch');
</script>