<% include ../partials/head.ejs %>

<h1>Switchboard</h1>
<div class="content">
	<p>
		Home of PowerUp's experimental projects.
	</p>
</div>

<ul class="thirds">
	<li>
		<img src="/img/icons/book.png" />
		<div>
			<h2><a href="/calculator/book">Book Calculator</a></h2>
			<p>This is a simple calculator to give you a quick estimate of how long it will take to write a book.</p>
		</div>
	</li>
	<li>
		<img src="/img/icons/music.png" />
		<div>
			<h2><a href="/generator/band_names">Band Name Generator</a></h2>
			<p>Need an awesome name to unite the band? Look no further.</p>
		</div>
	</li>
	<li>
		<img src="/img/icons/fiften.png" />
		<div>
			<h2><a href="/games/fiften">FIFTEN</a></h2>
			<p>Game to improve your concentration and mental fortitude.</p>
		</div>
	</li>
</ul>


<% include ../partials/footer.ejs %>